<%- model_class = Driver -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @driver.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_type) %>:</strong></dt>
  <dd><%= @driver.vehicle_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_loc) %>:</strong></dt>
  <dd><%= @driver.current_loc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_status) %>:</strong></dt>
  <dd><%= @driver.vehicle_status %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              drivers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_driver_path(@driver), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              driver_path(@driver),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
